{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}重設密碼成功 | 夢串流{% endblock title %}

{% block body_class %}ds-login-page{% endblock body_class %}

{% block body_content %}
<div class="ds-login-wrapper">
    <div class="ds-login">

        <!-- LEFT -->
        <div class="ds-login-left">
            <div class="ds-login-inner">
                <!-- Logo -->
                <img class="ds-login-logo mb-2"
                     src="{% static 'images/brands/breadoflife.png' %}"
                     alt="Bread of Life">

                <h1 class="ds-login-title">夢串流-重設密碼成功</h1>
                <div class="ds-login-card">
                    <!-- Success Icon -->
                    <div class="ds-success-icon mt-1 mb-3">
                        <i class="ri-checkbox-circle-fill"></i>
                    </div>
                    <p class="text-muted mb-4 text-center">您的密碼已成功更改，請使用新密碼登入</p>
                    <div class="mb-4">
                        <a href="{% url 'accounts:login' %}" class="ds-submit text-center">立即登入</a>
                    </div>
                    <p class="text-muted mt-3 text-center"><span id="timebox">5 秒後將自動跳轉至登入頁面</span></p>
                </div>
            </div>

            <!-- Footer -->
            <div class="ds-login-meta">
                <div class="ds-login-footer">© 2026 台北靈糧堂</div>
            </div>
        </div>

        <!-- RIGHT -->
        <div class="ds-login-right">
            <img class="ds-login-image"
                 src="{% static 'images/brands/dreamstream.png' %}"
                 alt="Dreamstream">
        </div>

    </div>
</div>
{% endblock body_content %}

{% block extra_js %}
    <script>
        // 自動倒數 5 秒後跳轉
        let countdown = 5;
        const timebox = document.getElementById("timebox");
        function updateCountdown() {
            if (countdown > 0) {
                timebox.innerText = countdown + " 秒後將自動跳轉至登入頁面";
                countdown--;
                setTimeout(updateCountdown, 1000);
            } else {
                window.location.href = "{% url 'accounts:login' %}";
            }
        }
        setTimeout(updateCountdown, 1000);
    </script>
{% endblock extra_js %}
